body {
  background-color: #eef2f6;
  margin: 0px;
}
nav {
  display: block;
}
.main-header, .logo {
  display: block;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: 300;
}

.logo {
  background-color: #447d9e;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  float: none;  
}

.navbar {
  background-color:#99c5df;
  width: 100%;
  float: none;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color:#6491ad;
  width: 30%;
  margin-top: 50px;
  height: 100%;
  float: left;
}
.menu {
list-style-type: none;
padding: 0px;
}

.menu-header {
  background-color: #2f5a75;
  color: #ffffff;
  padding: 20px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.sidebar-action {
  text-decoration: none;
  color: #ffffff;
}
 
.menu-item {
   padding: 20px 20px;
}
/*для форм авторизации и регистрации*/
form {
    color: #2f5a75;
}
.form-header {
  text-align: center;
}
.form-container {
  display: block;
  
}
label, button {
  display: block;
  margin: 10px 30px;
}

button, .new-task-btn, .edit, .delete, .check{
  padding: 8px 18px; 
  margin: 10px 15px;
  background-color: #2f5a75;
  color: #ffffff;
  text-decoration: none;
  border-radius: 22px;
  box-sizing: border-box;
  transition: 0.3s;
}
/*основная форма*/
.content-wrapper {
  margin-left: 30%;
  color: #2f5a75;
}

.content {
  display: block;
  padding: 20px;
  margin: 30px;
  background-color: #ffffff;
  width: auto;
  height: auto;
}

.content-head {
  display: flex;
  justify-content: space-between;
  margin: 6px 0px;
}
.date, .status, .language {
  margin: 0px;
}
.language {
  text-align: end;
  padding-bottom: 20px;
}


/* новая задача*/
.back {  
  padding: 8px 18px;  
  margin: 0px 20px 30px 20px;
  background-color: #2f5a75;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border: white 1px solid;
  border-radius: 22px;
  box-sizing: border-box;
  transition: 0.3s;
}
.back.task {
  float: right;
}
.comment {
  font-size: 13px;
  margin-top: 0;
}
.lang-select{
  width: 50%;
}

textarea {
  width: 100%;
  height: 100px;
}
/*окно переводчика*/
.edit-text {
  display: inline;
}

input[name="id"] {
  display: none;
}
